 body {
        font-family: Verdana;
        font-size: 14px;
        }
    table {
        border: 1px solid black;
        vertical-align: baseline;
        border-spacing:0;
        border-collapse:collapse;
    }
    th {
        background: #FFFFFF;
        border: 1px solid;
        padding: 7px 10px;
        font-weight: bold;
        text-align: center;
        }

    td {
        border-left: 1px solid;
        border-right: 1px solid;
        padding: 1px 5px;
        text-align: center;
        }

    tr:nth-child(even) {
        background: #99CCFF;
        }
    tr:nth-child(odd) {
        background: #CCFFFF;
        }

    #TraceDiv {
        display: flex;
    }
    #SpacerDiv {
        width: 30px;
    }
    #HeaderDiv {
        width: 175px;
    }
    #HeaderList {
        width: 130px;
    }
    #DetailDiv {
       
    }

    #HopID {width:60px;}
    #Address {width:140px;}
    #Latency {width:80px;}

    #MessageDiv {
        position: fixed;
        width: 400px;
        top: 200px;
        left: 320px;
        padding-top: 10px;
        height: 150px;
        background-color: antiquewhite;
        text-align: center;
        font-size: x-large;
        border: double;
        visibility: hidden;
        z-index: 10;
    }
    

