 body {
        font-family: Verdana;
        font-size: 14px;
        }
    table {border: 1px solid black;}
    th, td.SumHead {
        background: #FFFFFF;
        border: 1px solid #B0B0B0;
        font-weight: bold;
        padding: 3px 10px;
        text-align: center;
        }
		th#time {width:300px;}
        th#display {width:455px;}
        th#duration {width:200px;} 
    td {
        padding: 3px 5px;
        text-align: center;
        }
        td#SumHead {column-span:all;
                    text-align:left;
        }
    tr:nth-child(even) {
        background: #99CCFF;
        }
    tr:nth-child(odd) {
        background: #CCFFFF;
        }
    #SummaryTable tr {background: #ffffff;}
        #SummaryTable td:nth-child(odd) {text-align:right;}
        #SummaryTable td:nth-child(even) {text-align:left;}
        #SummaryTable td:nth-child(1) {width: 105px;}
        #SummaryTable td:nth-child(2) {width: 200px;}
        #SummaryTable td:nth-child(3) {width: 90px;}
        #SummaryTable td:nth-child(4) {width: 200px;}
        #SummaryTable td:nth-child(5) {width: 130px;}
        #SummaryTable td:nth-child(6) {width: 230px;}

    #MessageDiv {
        position: fixed;
        width: 400px;
        top: 200px;
        left: 320px;
        padding-top: 10px;
        height: 150px;
        background-color: antiquewhite;
        text-align: center;
        font-size: x-large;
        border: double;
        visibility: hidden;
    }
    
    #TraceDiv {
        position: fixed;
        width: 900px;
        top: 150px;
        left: 100px;
        padding: 10px;
        height: 400px;
        background-color: antiquewhite;
        border:double;
        overflow-y:scroll
    }
    #TraceTable td:nth-child(4) {padding-left: 20px;
                                 text-align:left;}
    th#HopID {width:60px;}
    th#Address {width:140px;}
    th#Latency {width:80px;}
    th#HostName {width:504px;}