<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="153600" executionTimeout="180"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="DisplayAvailability.html"/>
	  </files>
    </defaultDocument>
    <caching enabled="true" enableKernelCache="true">
	  <profiles>
	    <add extension=".xml" policy="DisableCache" kernelCachePolicy="DisableCache" />
	  </profiles>
	</caching>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
	<security> 
		<requestFiltering> 
			 <requestLimits maxAllowedContentLength="150000000" /> 
		</requestFiltering> 
    </security> 
  </system.webServer>
</configuration>